# Xcode
DerivedData/
*.xcworkspace
xcuserdata/
build/
Pods/
*.xcuserstate

# SwiftPM
/.build/
/Packages/

# Misc
.DS_Store


# Ignore Firebase configuration file
Instagram-iOS-Academy/Resources/GoogleService-Info.plist


echo ".gitignore.save" >> .gitignore
